
/* Eliminamos los valores del navegador por defecto */
*{
	
	padding: 0;
	margin: 0;
	font-family: Nunito;
	text-decoration: none;
	
}

html{
	
	height: 100vh;
}

body{
	
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	
	
}

/* DIVS a los que se hará referencia en cliente para el despliegue de su vista */
div#divCRUDcanciones, #divCRUDtemas, #divAnadirCanciones, #divPuntuacion, #divAnadirTemas, #divRegistro, #divLogin{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

/* Propiedades que comparten todos los formularios */
form#formulario{
		
	width: 420px;
	height: auto;
	background-color: #794393;
	text-align: center;		
}

/* Título de todos los formulario */
h1.tituloInicio{
	
	padding: 20px 0px 20px 0px;
	text-align: center;
	color: #F0E522;
	font-weight: bold;
	
}

/* Inputs de todos los formularios */
input.inputFormulario{
	
	margin: auto;
	margin-top: 10px;
	width: 360px;
	height: 40px;
	border-radius: 5px;
	padding-left: 15px;
	
}

/* Boton enviar de todos los formularios */
input#inputEnviar{
	
	margin: auto;
	display: block;
	margin-top: 70px;	
	margin-bottom: 20px;
	width: 180px;
	height: 60px;
	color: white;
	background-color: hsl(279, 75%, 57%);
	border: none;
	font-weight: bold;
}

button#anadirRespuestas{
	width: 50px;
	height: 30px;	
}


input#inputEnviar:hover{
	
	background-color: hsl(56, 100%, 70%);
	color: black;
	
}
/* Títulos de los inputs de los formularios */
label.labelFormulario{
	
	color: white;
	margin-top: 45px;
	font-weight: bold;
	
}

select#selectCategorias{
	
	width: 200px;
	height: 30px;
	margin-top: 15px;
	
}

/* Aplicamos display inline-block para alinear las 3 categorias manteniendo su propiedad natural en bloque. */
div#contenidoCategorias #luchasRaciales, #lgtbq, #feminismo{

	display: inline-block;
	margin: 30px;

}

div.categorias:hover{

	transition: 2s;
	transform: rotate3d(0, 20, 0, 180deg);
	
}

div.categorias{

	transition: 2s;
	transform: rotate3d(0, 0, 0, 0deg);
	
}


div#contenidoCategorias{

	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;

}

img#imgLuchas, #imgFeminismo, #imgLGTB{

	width: 300px;
	height: 300px;

}

/* Botón de comenzar el juego */
button#comenzarJuego{

	display: block;
	margin: auto;
	width: 300px;
	height: 90px;
	font-size: 40px;
	margin-top: 50px;
	border: none;
	background-color: #6f507e;
	

}

button#comenzarJuego:hover{

	background-color: #794393;
	color: white;
}


/* Propiedades de las tablas que posee el administrador */
table.tablasCRUD{
	
	width: 800px;
	height: 300px;
	background-color: #794393;
	text-align: center;
	border-collapse: collapse;
	
}

table.tablasCRUD > thead{
	
	background-color: #544596;
	color: yellow;
}

table.tablasCRUD > tbody{
	
	color: white;
	
}

table.tablasCRUD > tr:nth-child(even){
	background-color: #544596;	
}


h2.titulosCategorias{
	text-align: center;
	color: white;
	background-color: #794393;
}

h2.titulosCategorias:hover{

	background-color: #8431aa;

}

button#anadirCancion{
	
	width: 50px;
	height: 50px;
	
}

button#anadirCancion{
	
	background-color: green;
	font-size: 25px;
	color: white;
	border: none;
	
}


button.salirFormulario{
	
	border: none;
	background-color: #794393;
	font-weight: bold;
	float: right;
	width: 50px;
	height: 50px;
	
}


button.btnVolver{
	
	position: relative;
	width: 100px;
	height: 40px;
	right: 880px;
	bottom: 250px;
	background-color: #794393;
	border: none;
	color: white;
	
}




span#comenzar{
   font-size: 15px;
}
div#div1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
button.opciones{
    margin-top: 20px;
    margin-right: 20px;
    position: relative;
    float: right;
}
button#boton3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 60px;
}
div#divcerrar{
    background-color: white;
    width: 25%;
    height: 50%;
    margin:auto;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 5px 10px 18px black;
    align-items: center;
    justify-content: center; 
}
table#tablaPuntos, td#tdPuntos, th#thPuntos{
    border:1px black solid;
    border-collapse: collapse;
}
table#tablaPuntos{
  text-align: center;
  vertical-align: middle;
  margin:0 auto;
  width: 75%;
}
div#divcomun2{
    text-align: center;
}
button#equis{
    border-radius: 50%;
    float: right;
    margin-top:2% ;
    margin-right:-5% ;
    cursor: pointer;
    position: relative;
}
a#enlaceequis:hover, button#equis:hover{
    background-color: red;
}
div#divform{
    background-color: rgb(20, 148, 140);
    width: 25%;
    height: 50%;
    margin:auto;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 5px 10px 18px black;
    text-align: center;
}
input#terminos{
    align-items: center;
    justify-content: center;
}
input#enviar{
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}
input#nombre{
    border-radius: 7%;
}
div#contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    background-color: white;
    height: 75px;   
}
button.btn-admin{
    float: right;
    margin-right: 50px;
    margin-top: 25px;
    height: 40px;
    font-size: 15px;
    width: 10%;
}
div#divinicial{
    width: 100%;
    height: 100%;
}
div#div0{
    float: right;
}
div#divdrag{
    text-align: center;
    padding-top: 125px ;   
}
div#divdrag2,div#divdrag3 {
    height: 80px;
    background-color: rgb(99, 19, 119);
    width: 75%;
    margin-left: 150px;
 }
 div#divdrag3{
    margin-top: 3%;
}
span.opciones{
    background-color: white;
    padding: 2%;
    display: inline-block;
    border: 0.5px solid black;
    border-radius: 20%;
    width: 15%;
    align-items: center;
    justify-content: center;
}
div#divopcion{
    text-align: center;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
div#flecha{
   float: right;
}